@font-face {
	font-family: 'Inter';
	src: url('regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	ascent-override: 97.75%;
	descent-override: 25%;
	font-feature-settings: "kern", "liga", "dlig", "zero", "cv05";
}